<p id="notice"><%= notice %></p>

<nav class="navbar navbar-dark bg-dark justify-content-between">
  <%= link_to 'All Users', root_path, class: "navbar-brand pl-2 pr-2" %>
    <%= link_to 'Create New User', '#', class: "ml-2 btn btn-success my-2 my-sm-0 text-white", data: { toggle: "modal", target: "#newFormModal"} %>
</nav>
<div class="d-flex justify-content-center m-2">
<input type="text" name="search" id="searchInput" onkeyup="filterList()" class="form-control" placeholder="search users" />
</div>


<div class="table-responsive">
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>SN</th>
      <th onclick="sort_table(usersTableBody, 0, asc1); asc1 *= -1; asc2 = 1; asc3 = 1;">Title &#8593; &#8595; </th>
      <th onclick="sort_table(usersTableBody, 1, asc1); asc1 *= -1; asc2 = 1; asc3 = 1;">Name &#8593;&#8595;</th>
      <th onclick="sort_table(usersTableBody, 2, asc1); asc1 *= -1; asc2 = 1; asc3 = 1;">Email &#8593;&#8595;</th>
      <th onclick="sort_table(usersTableBody, 3, asc1); asc1 *= -1; asc2 = 1; asc3 = 1;">Phone &#8593;&#8595;</th>
      <th onclick="sort_table(usersTableBody, 4, asc1); asc1 *= -1; asc2 = 1; asc3 = 1;">Status &#8593;&#8595;</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="usersTableBody">
    <% @users.each_with_index do |user, indx| %>
      <tr class="js--userRow">
        <td><%= indx + 1 %></td>
        <td><%= user.title %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td class=<%= "#{user.status == 'active' ? 'text-success' : 'text-danger'}" %> > <%= user.status %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class: "btn-sm btn-secondary text-white" %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-sm btn-danger text-white" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="pagination text-center d-flex justify-content-center">
    <%= will_paginate %>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="newFormModal" tabindex="-1" role="dialog" aria-labelledby="newFormModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= render partial: "form", locals: { user: @user }  %>
    </div>
  </div>
</div>


<script>
   filterList = () => {
       let searchInput, filter, tr, i, td, txtValue;
       
       searchInput = document.getElementById('searchInput');
       filter = searchInput.value.toUpperCase();
       trs = document.querySelectorAll('.js--userRow');
       trs.forEach(tr => tr.style.display = [...tr.children].find(td => td.innerHTML.toUpperCase().includes(filter)) ? '' : 'none');
   };

   let users, asc1 = 1,
            asc2 = 1,
            asc3 = 1;
        window.onload = function () {
            users = document.getElementById("usersTableBody");
        }

   sort_table = (tbody, col, asc) => {
            var rows = tbody.rows,
                rlen = rows.length,
                arr = new Array(),
                i, j, cells, clen;
            // fill the array with values from the table
            for (i = 0; i < rlen; i++) {
                cells = rows[i].cells;
                clen = cells.length;
                arr[i] = new Array();
                for (j = 0; j < clen; j++) {
                    arr[i][j] = cells[j].innerHTML;
                }
            }
            // sort the array by the specified column number (col) and order (asc)
            arr.sort(function (a, b) {
                return (a[col] == b[col]) ? 0 : ((a[col] > b[col]) ? asc : -1 * asc);
            });
            // replace existing rows with new rows created from the sorted array
            for (i = 0; i < rlen; i++) {
                rows[i].innerHTML = "<td>" + arr[i].join("</td><td>") + "</td>";
            }
        }
</script>