<p id="notice"><%= notice %></p>

<nav class="navbar navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand">All Users</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    <%= link_to 'Create New User', new_user_path, class: "ml-2 btn btn-success my-2 my-sm-0 text-white" %>

  </form>
</nav>

<div class="table-responsive">
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>SN</th>
      <th>Title</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each_with_index do |user, indx| %>
      <tr>
        <td><%= indx + 1 %></td>
        <td><%= user.title %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td class=<%= "#{user.status? ? 'text-success' : 'text-danger'}" %> > <%= user.status %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class: "btn-sm btn-secondary text-white" %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-sm btn-danger text-white" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


